/* Shared Styles */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: auto
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

/* Header Related Style */

/* nav related style */
.nav-container {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-item>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 37px 0;

}

.logo-title {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.g {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.follow-button {
    border: none;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 24px;

}