/* Shared Styles */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: auto
}

li {
    list-style: none;
}



.title-primary {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.desc-primary {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    padding-top: 15px;
}

/* Header Related Style */

/* nav related style */
.nav-container {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}
.anchor{
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.nav-item>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 37px 0;

}

.g {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.follow-button {
    border: none;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 24px;
}

/* banner related styles */

.banner-section {
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
}

.banner {
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.banner-content {
    padding: 148px 0;


}

.banner-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.goat {
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-button {
    display: inline-flex;
    gap: 24px;
    padding-top: 40px;
}

.sign-in-btn {
    border-radius: 48px;
    color: #fff;
    padding: 20px 40px;
    background-color: #FF42A5;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-style: none;
}

.go-rouge-btn {
    border-radius: 48px;
    color: #fff;
    padding: 20px 40px;
    background-color: #4EC5F7;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-style: none;

}

/* online gamer styles */

.online-gamer-section {
    margin-top: 120px;
}

.gamer-description {
    text-align: center;
    padding-bottom: 30px;
}

.funny-videos {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.online-gamer-card {
    display: flex;
    gap: 24px;
}

.card-description {
    padding-top: 24px;
}

/* play games styles */

.play-games-section {
    margin-top: 120px;
}

.play-games {
    display: flex;
    gap: 120px;
    border: 1px solid red;
}

.play-games-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    padding-top: 24px;
}

.play-content {
    border: 1px solid blue;
}

.play-title-style {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-games-img {
    border: 1px solid black;
}

.son-of-play-img {
    position: relative;
    left: 500px;
    bottom: 200px;
}

/* game type style */

.games-type {
    margin-top: 120px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    ;
}

.games-name {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 260px;
    height: 70px;
    border-radius: 50px;
    background-color: white;
    padding: 10px 5px;
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;

}

/* footer style */
.footer-section{
    background-color: #0B0223;
    margin-top: 120px;
    height: auto;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px; 
    gap: 24px;
}
.footer-title{
    color: white;
}
.info{
    display: flex;
    gap: 60px;
    color: white;
    text-align: center;
    padding-top: 50px;
}
.social-accounts{
    display: flex;
    gap: 40px;
    padding-top: 50px;
}

.social-accounts> {
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: 500;

}
.policy{
    display: flex;
    gap: 60px;
    padding-top: 50px;
}

.policy> {
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: 500; 
     

}
.copyright{
    color: #fff;
    padding-top: 50px;
    padding-bottom: 100px;
}